body {
    background-color:darkslategray;
}

#header {
    position:fixed;
    top:0;
    height:max(10vh,5rem);
    width:100vw;
    background-color: blueviolet;
}

#footer {
    position:fixed;
    bottom:0;
    width:100vw;
    left:0;
    height:max(10vh,5rem);
    background-color: lavender;
}